* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

body {
    font-family: 'Anonymous Pro', monospace;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.main-image img {
    width: 100vw;
    max-width: 1280px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.links-image img {
    width: 100vw;
    max-width: 898px;
    height: auto;
    display: block;
    margin-top: -30px;
    margin-bottom: 20px;
}

.description-section {
    width: 100vw;
    max-width: 1280px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin: 0 auto 20px auto;
    color: #ffffff;
    text-align: left;
}

.description-section .text-container {
    max-width: 600px;
}

.description-section p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.description-image img {
    width: 350px;
    height: auto;
    margin-top: 10px;
}

.container {
    width: 100vw;
    max-width: 100%;
    background-color: #000000;
    text-align: center;
}

.text-section {
    padding: 20px;
}

.text-section h2 {
    margin-bottom: 10px;
    margin-right: 30%;
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-section p {
    margin-bottom: 10px;
    margin-right: 55%;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 

}

.text-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.keyboard-layout {
    margin: 20px 0;

}
.keyboard-layout h2 {
    text-align: left;
    margin-left: 9.5%;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.keyboard-layout img {
    width: 80%;
    height: auto;
}

.font-styles {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.font-styles h2 {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}


.font-variants img, .footer img {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

.font-styles h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.special-for-code {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.special-for-code h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-right: 40%;
}
.special-for-code p {
    font-size: 18px;
    max-width: 650px;
    margin: 0 auto 20px;
    line-height: 1.5;
}


.code-examples {
    position: relative;
    width: 300px; 
    height: 200px;
    margin: 0 auto 150px;
}

.code-examples img {
    position: absolute;
    width: 200px; 
    height: auto;
}

.code-examples img:nth-child(1) {
    bottom: 100px;
    right: 470px;
}

.code-examples img:nth-child(2) {
    bottom: -30px;
    right: 300px;
}
.anonymous-title {
    text-align: center;
    position: relative;
    margin: 20px 0;
    padding: 10px 0;

    color: #FFF;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.anonymous-title::before,
.anonymous-title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #B0C4DE;
}

.anonymous-title::before {
    top: 0;
}

.anonymous-title::after {
    bottom: 0;
}

